<div class="container">
  <div class="new-wish" style="display: flex; align-items: center; width: 50%">
    <forge-field
      style="padding: 0.5rem 1rem; width: 100%"
      floatLabel="{{ newWishText === '' ? false : true }}"
    >
      <label for="wish">Wish</label>
      <input id="wish" name="wish" type="text" [(ngModel)]="newWishText" />
    </forge-field>
    <forge-button
      style="padding-right: 1rem"
      type="submit"
      variant="filled"
      (click)="$event.preventDefault(); addNewWish()"
      >Submit</forge-button
    >
  </div>
  <div class="list-filter">
    <forge-select
      label="Filter"
      density="small"
      style="padding-inline: 1rem; width: 15%"
      [(ngModel)]="listFilter"
    >
      <forge-option value="0">All</forge-option>
      <forge-option value="1">Unfulfilled</forge-option>
      <forge-option value="2">Fulfilled</forge-option>
    </forge-select>
  </div>
  <div style="width: 25%; padding: 0.2rem 0.5rem">
    @for (item of visibleItems; track $index) {
    <ul style="padding-inline: 0.2rem 0.4rem; cursor: pointer">
      <div
        #wishItemContainer
        style="display: flex"
        (mouseover)="
          wishDeleteIcon.nativeElement.hidden = false;
          wishEditIcon.nativeElement.hidden = false
        "
        (mouseout)="
          wishDeleteIcon.nativeElement.hidden = true;
          wishEditIcon.nativeElement.hidden = true
        "
      >
        <forge-checkbox
          #wishItemCore
          style="flex: 1; align-content: center"
          [checked]="item.isComplete"
          (click)="setIsComplete(item)"
          >{{ item.wishText }}
        </forge-checkbox>
        <forge-icon-button
          #wishEditIcon
          hidden="true"
          density="medium"
          style="align-items: center"
        >
          <forge-icon external name="edit" />
        </forge-icon-button>
        <forge-icon-button
          #wishDeleteIcon
          theme="error"
          hidden="true"
          density="medium"
          style="align-items: center"
        >
          <forge-icon external external name="delete"></forge-icon>
        </forge-icon-button>
      </div>
      <div>
        <forge-divider />
      </div>
    </ul>

    }@empty {
    <label style="padding-inline: 1rem"
      >Looks like there are no wishes here!</label
    >
    }
  </div>
</div>

<!--

-->
